:root {
    --bg-color: linear-gradient(34deg, rgb(253 253 253) 42%, rgb(134 235 255) 100%);
    --text-color: rgba(48,47,57, 1);
    --border-color: rgba(231,230,235, 1);
    --shadow-color: rgba(191,190,199, 1);
    --input-color: rgba(255,255,255, 1);

    --border-radius-sm: 4px;
    --border-radius-md: 6px;
    --border-radius-lg: 8px;
    --padding-sm: 4px;
    --padding-md: 6px;
    --padding-lg: 8px;
    --transition-duration-quick: 0.5s;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: linear-gradient(34deg, rgb(0 0 0) 2%, rgb(3 105 154) 100%);
        --text-color: rgba(223,223,225, 1);
        --border-color: rgba(48,48,52, 1);
        --shadow-color: rgba(0,0,0, 1);
        --input-color: rgba(28,28,28, 1);
    }
}

[data-dark='true'] {
    --bg-color: linear-gradient(34deg, rgb(0 0 0) 2%, rgb(3 105 154) 100%);
    --text-color: rgba(223, 223, 225, 1);
    --border-color: rgba(48, 48, 52, 1);
    --shadow-color: rgba(0, 0, 0, 1);
    --input-color: rgba(28, 28, 28, 1);
}
